.main {
  width: 70%;
  margin: auto;
  .d-flex {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    .plus{
        font-size: 30px;
        font-weight: bolder;
        cursor: pointer;
    }
  }
  .pad-l-r-30{
    padding: 0 30px;
  }
}
